form {
    width: 50%;
    height: 620px ;
    background-color: beige;
    margin: 0 auto;
    border-radius: 3%;
box-shadow: 5px 5px 10px gray;
padding: 10px ;


}
form #phd {
    background-color: blanchedalmond;
    border: 5%;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-left: 10px;
}
 form #phd:hover {
    background-color: wheat;
 }
 form #haha {
    background-color: blanchedalmond;
    border: 5%;
    border-radius: 10%;
}
 form #haha:hover {
    background-color: wheat;
 }